<!-- <footer id="footer" class="footer">

    <div class="footer-content position-relative">
        <div class="container">
            <div class="row footer-row">

                <div class="col-lg-4 col-md-3 footer-col">
                    <h5 class="h4">Useful Links</h5>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-col">
                    <div class="footer-info">

                        <div id="mc_embed_signup">
                            <form
                                action="https://github.us21.list-manage.com/subscribe/post?u=55b2009d670eb222a041a344b&amp;id=45e08ae986&amp;f_id=0087bae1f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <h5 class="h4">Subscribe To Our Newsletter</h5>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                            required>
                                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>

                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_55b2009d670eb222a041a344b_45e08ae986" tabindex="-1"
                                            value=""></div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <p class="brandingLogo"><a href="http://eepurl.com/ipLcA6"
                                                    title="Mailchimp - email marketing made easy and fun"><img alt="MailChimp logo"
                                                        src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a>
                                            </p>
                                            <input type="submit" value="Subscribe" name="subscribe"
                                                id="mc-embedded-subscribe" class="button">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-3 footer-col">
                    <h5 class="h4">Contact Us</h5>
                    <div class="contact-links">
                        <a href="tel:123456789"><strong>Phone:</strong> +123456789</a>
                        <a href="info@gmail.com"><strong>Email:</strong> info@gmail.com</a>
                    </div>
                </div>

            </div>
            <div class="social-links d-flex">
                <a href="https://facebook.com" class="d-flex align-items-center justify-content-center" target="_blank"
                    rel="noopener nofollow" aria-label="Visit our Facebook page (opens in a new tab)"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com" class="d-flex align-items-center justify-content-center" target="_blank"
                    rel="noopener nofollow" aria-label="Visit our Instagram page (opens in a new tab)"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>

{% block postloadjs %}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
    type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);
</script>
{% endblock %} -->

<div class="">
    <footer class="py-2">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="{% url 'privacy_policy' %}" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="{% url 'contact' %}" class="nav-link p-0 text-body-secondary">Contact</a></li>
            <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li> -->
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-around pt-4 mt-4 border-top">
        <p>© 2024 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><p>Follow us:</p></li>
          <li class="ms-3 ml-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram"></i></li>
          <li class="ms-3 ml-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-facebook"></i></li>
        </ul>
      </div>
    </footer>
  </div>